<% if @author.errors.any? %>
	<ul>

		<% @author.errors.full_messages.each do |msg| %>
			<li>
				<%=msg%>
			</li>

		<% end %>
	</ul>
<% end %>

<div class='row'>
	<div class='col-md-12'>

		<%= form_for @author do |f| %>
			<div class="form-group">
				<div class="control-label col-sm-12">
					<%= f.label :name %>
				</div>
				<div class="col-sm-8">
					<%= f.text_field :name, class: "form-control",placeholder: "Title", autofocus: true %>
				</div>
			</div>
	
			
		<div class="form-group">
				<div class="control-label col-sm-12">
					<%= f.label :surname %>
				</div>
				<div class="col-sm-8">
					<%= f.text_field :surname, class: "form-control",placeholder: "Surname", autofocus: true %>
				</div>
		</div>		

		<div class="form-group">
				<div class="control-label col-sm-12">
					<%= f.label :age %>
				</div>
				<div class="col-sm-8">
					<%= f.number_field :age, class: "form-control",placeholder: "Age of an Author", autofocus: true %>
				</div>
		</div>	


	<%= f.submit 'Save', class: 'btn btn-primary btn-lg'%>


<% end %>

</div>
</div>
