<div class=jumbotron text-center>
<h1>
    <%= "#{@author.fullname}" %>
</h1>
</div>
<div class="container">
    Age:
    <%= "#{@author.age}" %>
    <br> <br>
    Created at:
    <%= "#{@author.created_at}" %>
    <br>
    Updated at:
    <%= "#{@author.updated_at}" %>
    <hr>
	Posts:
    <br />
    <% if @posts.any? %>
        <% @posts.each do |post| %>
            <li> 
                <b><%= post.title %></b>
                from
                <b><%= post.created_at %></b>
                (last modification at
                <b><%= post.updated_at %></b>)
                <br />
                <%= post.content %>
                <br /><br />
            </li>
        <% end %>
    <% else %>
        <i>None</i>
    <% end %>
    <hr>
     <%= link_to 'Back to authors', authors_path, role: 'button', class: 'btn btn-primary' %>


</div>


   